$page-width: 860px;
$error-red: #F00;

@mixin border-radius($radius) {
  border-top-radius: $radius;
  -moz-border-radius-top: $radius;
  -webkit-border-top-radius: $radius;
}

@-webkit-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.25; }
}

body {
  font-family: sans-serif;
}

.container {
  width: 75%;
  height: auto;
  margin: 0 auto;

  .code {
    font-family: Courier;
  }

  .header {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 5px 0;
    .title {
      width: 100%;
      float: left;
      span {
        color: black;
        font-size: 46px;
      }
    }
    .description {
      width: 100%;
      float: left;
      span {
        color: black;
        font-size: 17px;
        font-style: italic;
      }
    }
  }

  .codebox {
    float: left;
    width: 100%;
    .codebox-cont {
      width: 80%;
      margin: 0 auto;
      #editor { 
        font-size: 17px;
        border: 1px solid black;
        margin-bottom: 10px;
        .CodeMirror {
          min-height: 500px;
        }
      }

      .output {
        float: left;
        width: 100%;
        height: 120px;
        position: relative;
        border: 1px solid black;
        margin-bottom: 10px;
        background-color: #eee;
        overflow: auto;
        .spinner {
          position: absolute;
          display: none;
          top: 8%;
          left: 43%;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          div {
            width: 12%;
            height: 26%;
            background: #000;
            position: absolute;
            left: 44.5%;
            top: 37%;
            opacity: 0;
            -webkit-animation: fade 1s linear infinite;
            -webkit-border-radius: 50px;
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
            &.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
            &.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
            &.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
            &.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
            &.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
            &.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
            &.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
            &.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
            &.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
            &.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
            &.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
            &.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}
          }
        }
        .output-container{
          margin: 5px 10px;
          span {       
            font-family: "Lucida Console", Monaco, monospace;
            color: black;
            font-size: 16px;
            &.error {
              color: $error-red;
            }
          }
        }
      }
    }
  }

  .timestamp {
    height: 21px;
    position: relative;
    text-align: right;
    right: -3px;
    top: -28px;
    span {
      color: #888;
      font-size: 15px;
      font-style: italic;
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  .submit {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    span {
      display: block;
      font-family: Courier;
      margin-bottom: 5px;
    }
    button {
      width: 150px;
      height: 40px;
      cursor: pointer;
      border-radius: 7px;
      @include border-radius(10px);
      font-size: 20px;
    }
  }
}



.credits {
  width: 100%;
  float: left;
  margin-top: 5px;
  position: relative;
  text-align: center;
  span, a {
    font-style: italic;
    font-size: 13px;
  }
}

.error-gutter {
  background-color: $error-red;
}