@import "_keyframes.scss";

$page-width: 860px;
$error-red: #F00;

body {
  font-family: sans-serif;
}

.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1%;
  $sidebar-width: 30%;
  .sidebar {
    width: $sidebar-width;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    > div {
      padding: 5px 0;
    }
    .title {
      width: 100%;
      padding-top: 0;
      span {
        color: black;
        font-size: 23px;
      }
    }
    .link-to-heroku {
      display: none;
    }
    .submit {
      width: 100%;
      position: relative;
      text-align: center;
      margin-bottom: 3px;
      span {
        display: block;
        font-family: Courier;
        margin-bottom: 5px;
        &.shortcut {
          border: 1px solid #ddd;
          padding: 5px;
          display: inline-block !important;
        }
      }

      button {
        display: none;
      }
    }
  }
  .rightcol {
    width: 100% - $sidebar-width - 1%;
    display: inline-block;
    #editor {
      font-size: 17px;
      border: 1px solid black;
      margin-bottom: 5px;
      .CodeMirror {
        min-height: 450px;
      }
    }
    .output {
      width: 100%;
      height: 120px;
      position: relative;
      border: 1px solid black;
      background-color: #eee;
      font-size: 16px;
      overflow: auto;
      .loader {
        display: none;
      }
      .loader,
      .loader:before,
      .loader:after {
        background: #FFF;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
      }
      .loader:before,
      .loader:after {
        position: absolute;
        top: 0;
        content: '';
      }
      .loader:before {
        left: -1.5em;
      }
      .loader {
        text-indent: -9999em;
        margin: 4em auto;
        position: relative;
        font-size: 11px;
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      .loader:after {
        left: 1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      .output-container{
        margin: 5px 10px;
        span {
          font-family: "Lucida Console", Monaco, monospace;
          color: black;
          &.error {
            color: $error-red;
          }
        }
      }
    }
  }
  .code {
    font-family: Courier;
  }

  .timestamp {
    height: 21px;
    position: relative;
    text-align: right;
    right: -1px;
    top: -21px;
    font-size: 15px;

    span {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #888;
      font-style: italic;
      text-shadow: 2px 2px #FFFFFF;
    }
  }
}

.fork-info {
  width: 100%;
  text-align: center;
  span {
    font-style: italic;
    font-size: 12px;
    position: relative;
    top: -5px;
  }
}

.credits {
  width: 100%;
  margin-top: 5px;
  position: relative;
  text-align: center;
  .fb-like {
    top: -4px;
  }
  span, a {
    font-style: italic;
    font-size: 13px;
  }
}

.error-gutter {
  background-color: $error-red;
}

// Mobile breakpoint styles (large screen first for now)
@media screen and (max-width: 40.5em) {
  .container {
    width: 95%;
    padding-top: 0;

    .fork-me {
      display: none;
    }

    .sidebar {
      width: 100%;
      text-align: left;

      .title {
        position: relative;
        span {
          font-size: 18px;
          display: inline-block;
        }

        button {
          display: inline-block;
          position: absolute;
          right: 0;
        }
      }

      .built-by,
      .heroku-version,
      .fork-info,
      .credits,
      .share-code,
      .submit {
        display: none;
      }
    }

    .rightcol {
      width: 100%;

      #editor,
      .console,
      .timestamp {
        font-size: 12px;
      }
    }
  }
}