!!!5
%html
  %head
    %meta{:charset=>"UTF-8"}
    %meta{:name=>"author", :content=>"Mr. Joel Kemp"}
    %meta{:name=>"description", :content=>"A PHP read evaluate print loop (REPL) for executing PHP code online in the browser."}
    %meta{:name=>"keywords", :content=>"PHP, repl, programming, read evaluate print loop, phpepl, online repl"}
    %title PHPepl: The PHP REPL
    %link{:rel => "stylesheet", :href => "lib/codemirror/lib/codemirror.css?ver=3.18"}
    %link{:rel => "stylesheet", :href => "css/styles.css?ver=1.2"}
    :javascript 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36055599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("89e9d9cd5a49c0529bec222da9b37385");
      mixpanel.track("Landing Page");
  %body
    /Built by Mr. Joel Kemp, @mrjoelkemp, www.mrjoelkemp.com
    /Yes, there's php -a, but it stinks. I really wanted a repl to play with particular parts of PHP. 
    .container
      .header
        .title
          %span.code PHPepl: The PHP REPL
          %a{:href=>"https://github.com/mrjoelkemp/phpepl"}
            %img{:style=>"position: absolute; top: 0; right: 0; border: 0;", :src=>"https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", :alt=>"Fork me on GitHub"}
      .codebox
        .codebox-cont
          #editor
          .output
            .spinner
              .bar1
              .bar2
              .bar3
              .bar4
              .bar5
              .bar6
              .bar7
              .bar8
              .bar9
              .bar10
              .bar11
              .bar12
            .output-container
              %span
          .timestamp
            %span
      .submit
        %span.code ⌘ + Enter or Ctrl + Enter 
        %button RUN
      .credits
        %a{:href=>"https://twitter.com/mrjoelkemp", :class=>"twitter-follow-button" } Follow @mrjoelkemp
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    .mixpanel
      %a{:href=>"http://mixpanel.com/f/partner", :style=>"display:none"}
        %img{:src=>"http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt=>"Real Time Web Analytics"}

  %script{:src => "lib/jquery-1.8.2.min.js"}
  %script{:src => "lib/codemirror/lib/codemirror.js?ver=3.18"}
  %script{:src => "lib/codemirror/addon/edit/closebrackets.js"}
  
  %script{:src => "lib/codemirror/addon/edit/matchbrackets.js"}
  %script{:src => "lib/codemirror/mode/htmlmixed/htmlmixed.js"}
  %script{:src => "lib/codemirror/mode/xml/xml.js"}
  %script{:src => "lib/codemirror/mode/javascript/javascript.js"}
  %script{:src => "lib/codemirror/mode/css/css.js"}
  %script{:src => "lib/codemirror/mode/clike/clike.js"}
  %script{:src => "lib/codemirror/mode/php/php.js"}
  
  %script{:src => "lib/moment/moment.min.js"}
  / %script{:src => "scripts/phpepl.js"}
  %script{:src => "scripts/phpepl.min.js?ver=1.2"}

  